In [1]:
import numpy as np
import pandas as pd

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/open-problems-multimodal/sample_submission.csv
/kaggle/input/open-problems-multimodal/train_cite_targets.h5
/kaggle/input/open-problems-multimodal/metadata_cite_day_2_donor_27678.csv
/kaggle/input/open-problems-multimodal/test_multi_inputs.h5
/kaggle/input/open-problems-multimodal/evaluation_ids.csv
/kaggle/input/open-problems-multimodal/train_cite_inputs.h5
/kaggle/input/open-problems-multimodal/train_multi_targets.h5
/kaggle/input/open-problems-multimodal/train_multi_inputs.h5
/kaggle/input/open-problems-multimodal/metadata.csv
/kaggle/input/open-problems-multimodal/test_cite_inputs_day_2_donor_27678.h5
/kaggle/input/open-problems-multimodal/test_cite_inputs.h5

In [2]:
# need 'tables' package to read h5 files
#conda install -c ska tables
!pip install tables

Collecting tables
  Downloading tables-3.7.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.9/5.9 MB 4.5 MB/s eta 0:00:0000:0100:010m
Requirement already satisfied: numexpr>=2.6.2 in /opt/conda/lib/python3.7/site-packages (from tables) (2.8.3)
Requirement already satisfied: packaging in /opt/conda/lib/python3.7/site-packages (from tables) (21.3)
Requirement already satisfied: numpy>=1.19.0 in /opt/conda/lib/python3.7/site-packages (from tables) (1.21.6)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from packaging->tables) (3.0.9)
Installing collected packages: tables
Successfully installed tables-3.7.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [3]:
# file directory
dir = '../input/open-problems-multimodal/'

# file paths
test_cite_inputs = dir + 'test_cite_inputs.h5'
test_multi_inputs = dir + 'test_multi_inputs.h5'

train_cite_inputs = dir + 'train_cite_inputs.h5'
train_cite_targets = dir + 'train_cite_targets.h5'
train_multi_inputs = dir + 'train_multi_inputs.h5'
train_multi_targets = dir + 'train_multi_targets.h5'

In [4]:
# metadata file
metadf = pd.read_csv(dir + 'metadata.csv')
metadf.head()

        cell_id  day  donor cell_type technology
0  c2150f55becb    2  27678       HSC    citeseq
1  65b7edf8a4da    2  27678       HSC    citeseq
2  c1b26cb1057b    2  27678      EryP    citeseq
3  917168fa6f83    2  27678      NeuP    citeseq
4  2b29feeca86d    2  27678      EryP    citeseq

In [5]:
print('metadata shape: ', metadf.shape)
print('\nnum unique values in each column:\n')
for col in metadf.columns:
    print(f'{col}: {len(metadf[col].unique())} \n{metadf[col].unique()}\n')

print('\nnum null values:')
metadf.isna().sum()

metadata shape:  (281528, 5)

num unique values in each column:

cell_id: 281528
['c2150f55becb' '65b7edf8a4da' 'c1b26cb1057b' ... '05666c99aa48'
 '121f946642b5' 'b847ba21f59f']

day: 5
[ 2  3  4  7 10]

donor: 4
[27678 32606 13176 31800]

cell_type: 8
['HSC' 'EryP' 'NeuP' 'MasP' 'MkP' 'BP' 'MoP' 'hidden']

technology: 2
['citeseq' 'multiome']


num null values:

cell_id       0
day           0
donor         0
cell_type     0
technology    0
dtype: int64

train cite inputs - cell id x gene expression level

In [6]:
# train cite inputs - cell id x gene expression level
trainCinputdf = pd.read_hdf(train_cite_inputs)
trainCinputdf.head()

gene_id,ENSG00000121410_A1BG,ENSG00000268895_A1BG-AS1,ENSG00000175899_A2M,ENSG00000245105_A2M-AS1,ENSG00000166535_A2ML1,ENSG00000128274_A4GALT,ENSG00000094914_AAAS,ENSG00000081760_AACS,ENSG00000109576_AADAT,ENSG00000103591_AAGAB,...,ENSG00000153975_ZUP1,ENSG00000086827_ZW10,ENSG00000174442_ZWILCH,ENSG00000122952_ZWINT,ENSG00000198205_ZXDA,ENSG00000198455_ZXDB,ENSG00000070476_ZXDC,ENSG00000162378_ZYG11B,ENSG00000159840_ZYX,ENSG00000074755_ZZEF1
cell_id,,,,,,,,,,,,,,,,,,,,,
45006fe3e4c8,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.000000,4.090185,0.0
d02759a80ba2,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,4.039545,0.0,0.0,0.00000,0.000000,0.000000,0.0
c016c6b0efa5,0.0,0.0,0.0,0.0,0.0,3.847321,0.000000,3.847321,3.847321,0.0,...,0.000000,0.000000,3.847321,4.529743,0.0,0.0,0.00000,3.847321,3.847321,0.0
ba7f733a4f75,0.0,0.0,0.0,0.0,0.0,0.000000,3.436846,3.436846,0.000000,0.0,...,3.436846,0.000000,4.113780,5.020215,0.0,0.0,0.00000,3.436846,4.113780,0.0
fbcf2443ffb2,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,4.196826,0.000000,0.0,...,0.000000,4.196826,4.196826,4.196826,0.0,0.0,3.51861,4.196826,3.518610,0.0

In [7]:
print('train cite inputs')
dfshape = trainCinputdf.shape
print('shape (cell ids, gene ids):', dfshape)
print('\nnull values:', trainCinputdf.isna().sum().sum())

# num zeros in each col
numzeros = (trainCinputdf==0).sum(axis=0)
print('percent zero:', numzeros.sum()/(dfshape[0]*dfshape[1]))
print('num unexpressed genes in dataset:', sum(numzeros >= dfshape[0]))

numneg = (trainCinputdf < 0).sum(axis=0)
print('num negative expression vals in dataset:', sum(numneg))

train cite inputs
shape (cell ids, gene ids): (70988, 22050)

null values: 0
percent zero: 0.7800378908536424
num unexpressed genes in dataset: 449
num negative expression vals in dataset: 0

train cite targets - cell id x surface protein expression level

In [8]:
# train cite targets - cell id x surface protein expression level
# dsb normalized
# scale of predictions not so important to competition host, 
# pearson correlation coefficient scoring chosen to de-emphasize scale
trainCtargetdf = pd.read_hdf(train_cite_targets)
trainCtargetdf.head()

gene_id,CD86,CD274,CD270,CD155,CD112,CD47,CD48,CD40,CD154,CD52,...,CD94,CD162,CD85j,CD23,CD328,HLA-E,CD82,CD101,CD88,CD224
cell_id,,,,,,,,,,,,,,,,,,,,,
45006fe3e4c8,1.167804,0.622530,0.106959,0.324989,3.331674,6.426002,1.480766,-0.728392,-0.468851,-0.073285,...,-0.448390,3.220174,-0.533004,0.674956,-0.006187,0.682148,1.398105,0.414292,1.780314,0.548070
d02759a80ba2,0.818970,0.506009,1.078682,6.848758,3.524885,5.279456,4.930438,2.069372,0.333652,-0.468088,...,0.323613,8.407108,0.131301,0.047607,-0.243628,0.547864,1.832587,0.982308,2.736507,2.184063
c016c6b0efa5,-0.356703,-0.422261,-0.824493,1.137495,0.518924,7.221962,-0.375034,1.738071,0.142919,-0.971460,...,1.348692,4.888579,-0.279483,-0.131097,-0.177604,-0.689188,9.013709,-1.182975,3.958148,2.868600
ba7f733a4f75,-1.201507,0.149115,2.022468,6.021595,7.258670,2.792436,21.708519,-0.137913,1.649969,-0.754680,...,1.504426,12.391979,0.511394,0.587863,-0.752638,1.714851,3.893782,1.799661,1.537249,4.407671
fbcf2443ffb2,-0.100404,0.697461,0.625836,-0.298404,1.369898,3.254521,-1.659380,0.643531,0.902710,1.291877,...,0.777023,6.496499,0.279898,-0.841950,-0.869419,0.675092,5.259685,-0.835379,9.631781,1.765445

In [9]:
print('train cite targets')
dfshape = trainCtargetdf.shape
print('shape (cell ids, target):', dfshape)
print('\nnull values:', trainCtargetdf.isna().sum().sum())

# num zeros in each col
numzeros = (trainCtargetdf==0).sum(axis=0)
print('num unexpressed proteins in dataset:', sum(numzeros >= dfshape[0]))

numneg = (trainCtargetdf < 0).sum(axis=0)
print('num negative expression vals in dataset:', sum(numneg))
print('num proteins with all negative expression vals in dataset:', sum(numneg >= dfshape[0]))

train cite targets
shape (cell ids, target): (70988, 140)

null values: 0
num unexpressed proteins in dataset: 0
num negative expression vals in dataset: 2655211
num proteins with all negative expression vals in dataset: 0